/* World Cup Stylesheet  */

/* Google Font Popping  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu&display=swap');


/* 
    Common Styles and Utilities 
*/

* {
    margin: 0;
    padding: 0;
  }

body {
    font-family     : 'Poppins', sans-serif;
    background-color: white;
}

main {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-left   : 50px;
    margin-right  : 50px;
}

.container {
    width           : 100%;
    height          : 100%;
    margin-top      : 50px;
    background-color: black;
    border-radius   : 35px;
}

.top-banner {
    margin-top   : 30px;
    margin-bottom: 30px;

}

.banners {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap         : 30px;
}

.banner {
    display       : flex;
    flex-direction: column;
    margin-left   : 50px;
    margin-right  : 50px;
}

.banner-text {
    color    : white;
    font-size: 50px;
}

.banner-desc {
    color      : white;
    font-weight: 200;

}

/* Watch Live Button  */
.banner-btn {
    color           : white;
    background-color: tomato;
    width           : 185px;
    height          : 55px;
    font-size       : 20px;
    text-align      : center;
    border-radius   : 5px;
}

/* Banner Image  */
.banners img {
    width : 900px;
    height: 500px;
}


/* 

    Blogs/Middle Section  

*/
.container-blog {
    background-color: white;
    width           : 100%;
    height          : 100%;
    margin-top      : 50px;
    margin-bottom   : 50px;
    display         : flex;
}

/* 3 Buttons Box */
.blog-left-btn {
    background     : black;
    width          : 315px;
    height         : 300px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    border-radius  : 10px;
    margin-right   : 24px;
}

/* 3 Buttons */
.box-btn{
    text-decoration: none;
    border: none;
    background: white;
    width: 180px;
    height: 54px;
    font-size: 18px;
    margin-top: 10;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#btn-sel{
    color: white;
    background-color: tomato;
}

/* 
    View All Button  
*/
.view-all-btn{
    display: none;
}

/* All Blogs  */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.blog{
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 15px;
}

.blog-btn{
    margin-left: 15px;
    padding: 10px;
}

.blog-banner img{
    width: 100%;
    height: 200px;
}

.transfer{
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 5px;
}

.fa-regular{
    margin-left: 25px;
}

.blog-info{
    display: flex;
    align-items: left;
}

/* 
    Footer 3rd page  
*/
.container-ftr{
    width           : 100%;
    height          : 100%;
    margin-top      : 50px;
    background-color: black;
}

#goal{
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 85px;
    margin-bottom: 50px;
}


hr{
    border-start-end-radius: 0.5px solid gray;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link{
    margin-bottom: 85px;
}

.link{
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
    margin-left: 20px;
    padding-left: 20px;
}

/* 3 Social Media  */
.social-media{
    color: skyblue;
    font-size: 35px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding-left: 20px;
}

/* 
    Media: For Mobile Device  
*/
@media only screen and (max-width: 688px){  
      .container {
        width: 100%;
      }

      .banners {
        display              : flex;
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center;
    }
    
    .banner {
        display       : flex;
        flex-direction: column;
    }
    
    .banner-text {
        color    : white;
        font-size: 40px;
    }
    
    .banner-desc {
        color      : white;
        font-size: 12px;
    
    }

    /* Watch Live Button  */
    .banner-btn {
    color           : white;
    background-color: tomato;
    width           : 100px;
    height          : 30px;
    font-size       : 10px;
    text-align      : center;
    border-radius   : 5px;
}

/* Banner Image  */
.banners img {
    width : 300px;
    height: 250px;
}

.container-blog{
    display              : flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
}

/* 3 Buttons Box */
.blog-left-btn {
    background     : white;
}

/* 3 Buttons */
.box-btn{
    border: 2px solid whitesmoke;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}



.footer-links{
    flex-direction: column;
}
}



/* 
    Media: For Tab/Tablet Device  
*/

@media only screen and (min-width: 688px) and (max-width: 992px){  
    .container {
      width: 100%;
    }

  .banner {
      display       : flex;
      flex-direction: column;
  }
  
  .banner-text {
      color    : white;
      font-size: 40px;
  }
  
  .banner-desc {
      color      : white;
      font-size: 12px;
  
  }

  /* Watch Live Button  */
  .banner-btn {
  color           : white;
  background-color: tomato;
  width           : 100px;
  height          : 30px;
  font-size       : 10px;
  text-align      : center;
  border-radius   : 5px;
}

/* Banner Image  */
.banners img {
  width : 400px;
  height: 350px;
}

.container-blog{
  display              : block;
}


/* 3 Buttons Box */
.blog-left-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background     : white;
    width: 100%;
    height: 300px;
}

/* 3 Buttons */
.box-btn{
   
  border: 3px solid whitesmoke;
}

.blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.watch-live{
    color           : white;
    background-color: tomato;
    width           : 150px;
    height          : 50px;
    font-size       : 25px;
    text-align      : center;
    border-radius   : 5px;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
}